* {
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding: 2%;
  margin: 2%;
}

#calc {
  display: flex;
  flex-direction: row;
  place-content: center;
}
hr {
  background-color: rgb(226, 226, 226);

}
button {
  background-color: black;
  color: aliceblue;
  font-size: 15px;
}